.footer-div {
  display: flex;
  justify-content: space-between;
}

.fab {
  color: #4056A1;
  cursor: pointer;
}

.fab:hover {
  color: #aa8a46 !important;
}

.far {
  color: #4056A1;
  cursor: pointer;
}

.far:hover {
  color: #aa8a46 !important;
}

.fabfa-font-awesome-flag {
  color: #4056A1;
  cursor: pointer;
}

.fas:hover {
  color: #aa8a46 !important;
}

.empty{
  width:390px;
}
